{% extends 'dnl1/wrapper.html' %}

{% block title %}
Науково-методична робота
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="{% static '/methodical-work/css/treeview.css' %}">
{% endblock %}

{% block content %}

{% include "dnl1/includes/page-title.html" with title='Науково-методична робота' %}

<div class="wrapper">
    <div class="container">
        <ul data-role="treeview">
            <li data-caption="Предметно-методичні комісії">
                <ul>
                    {% for mo in methodical_associations %}
                    <li><a href="methodical-associations/{{ mo.id }}">{{mo.title}}</a></li>
                        
                    {% endfor %}
                </ul>
            </li>
            <li data-caption="Атестація педпрацівників">
                <ul>
                    <li><a href="legal-framework">Нормативно-правова база</a></li>
                    <li><a href="https://drive.google.com/file/d/10rmLE8LF4VBDeNvZoup8Gi55bYuYYvJr/view" target="_blank">Перспективний план атестації педагогів</a></li>
                    <li><a href="https://drive.google.com/file/d/1HZ3VZHH7jz8fgmNZoTEYXSeAgG_JdkWT/view" target="_blank">Графік атестації педагогічних працівників Долинського ліцею №1</a></li>
                    <li><a href="https://drive.google.com/file/d/1GQD431of0bds0TQv1aaCpJlFj9eNxM5S/view" target="_blank">Список педагогічних працівників Долинського ліцею №1, які підлягають черговій атестації</a></li>
                    <li><a href="https://drive.google.com/file/d/1kBFSRAVu2LV97NkZOUf6SMbGEMCKVitu/view" target="_blank">Протокол #1 засідання атестаційної комісії І рівня Долинського ліцею №1</a></li>
                    <li><a href="https://drive.google.com/file/d/1_e5JD--l8hpC2l8Ei2yJpqSIhmBttpmF/view" target="_blank">Протокол #2 засідання атестаційної комісії І рівня Долинського ліцею №1</a></li>
                    
                </ul>
            </li>
            <li><a href="/library">Бібліотека</a></li>
            <li><a href="/teachers-recommendations">Улюблені книги ДЛ1</a></li>
        </ul>
    </div>
    <div class="push"></div>
</div>

{% endblock %}


{% block jsfiles %}
<script src="{% static '/methodical-work/js/treeview.js' %}"></script>
{% endblock %}