{% extends 'dnl1/wrapper.html' %}

{% block title %}
{{topic.name}}
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
{% endblock %}


{% block content %}
{% include "dnl1/includes/page-title.html" with title=topic.name %}

<div class="container topicContent">
         <div class="container">
                <div class="row">
                  {% for image in images %}
                    <div class="col-md-3 col-6" >
                        {% if image.description %}
                        <a data-fancybox="gallery" href="/media/photogallery/{% static image.get_source %}" data-caption=" {{image.description}}">
                        {% else %}
                        <a data-fancybox="gallery" href="/media/photogallery/{% static image.get_source %}" >
                        {% endif %}
                            <img src="{{image.image_thumbnail.url}}" width=100% class="mb-4">
                        </a>                    
                    </div>
                  {% endfor %}
              </div>
         </div>
</div>

{% endblock %}

{% block jsfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
{% endblock %}