{% extends 'dnl1/wrapper.html' %}

{% block title %}
Дистанційне навчання
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="{% static '/dnl1/css/about-us.css' %}">
{% endblock %}

{% block content %}

{% include "dnl1/includes/page-title.html" with title='Дистанційне навчання' %}

<div class="container">
    <div class="row justify-content-center">
        {% for task in tasks %}
        <div class="col-md-auto"><a class="btn nav-btn" role="button" href="#{{task.class_name}}">{{task.class_name}}</a></div>
        {% endfor %}
        
    </div>

    {% for task in tasks %}
        <div id="{{task.class_name}}">
            <h3>{{task.class_name}}</h3>
            {{task.task|safe|linebreaks}}
        </div>
    {% endfor %}
</div>

{% endblock %}


{% block jsfiles %}
{% endblock %}