{% extends 'dnl1/wrapper.html' %}

{% block title %}
Дистанційне навчання
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="{% static '/dnl1/css/about-us.css' %}">
<style>
    .nav-btn{
        width: 100%;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    }
</style>
{% endblock %}

{% block content %}

{% include "dnl1/includes/page-title.html" with title='Дистанційне навчання' %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <img src="{% static 'dnl1/images/distance_learning.jpg' %}" class="mw-100" alt="Дистанційне навчання">
        </div>
        <div class="col-12 col-md-7 mb-4">
            <p class="text-justify p-0 m-0"> <span class="font-weight-bold"> Дистанційне навчання </span>— це можливість навчатися та отримувати необхідні знання віддалено від навчального закладу в будь-який зручний час. Головним завданням дистанційного навчання є розвиток творчих та інтелектуальних здібностей дитини за допомогою відкритого й вільного використання всіх освітніх ресурсів і програм, включно з наявними в Інтернеті. З цією метою спрямовуємо роботу предметно-методичних комісій учителів на створення тематичних завдань за навчальними програмами відповідно календарно-тематичного планування та розміщення їх на сайті ліцею. Основна форма роботи — самостійна. 
Вчителі, які мають власні блоги та сайти, організовують щоденне навчальне спілкування з учнями, здійснюють індивідуальну допомогу учням, які користуються Skype, Viber тощо. Класні керівники забезпечують співпрацю з батьками для координації дистанційного навчання учнів.
    </div>

        {% for task in tasks %}
            <div class="col-4">
                <a class="btn nav-btn" role="button" href="{{task.link}}">{{task.class_name}} клас</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block jsfiles %}
<script src="{% static '/dnl1/js/scroll.js' %}"></script>
{% endblock %}