{% extends 'dnl1/wrapper.html' %}

{% block title %}
Кадровий склад
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Кадровий склад' %}

<div class="container">
    <h2>Основні напрями діяльності педагогічного колективу ліцею</h2>
    <p>Долинський науковий ліцей № 1 – це один із найкращих навчальних закладів Долинщини і за номером, і за рейтингом, і за якістю та результативністю роботи вчителів і рівнем знань учнів.</p>
    <p>Ліцеїсти - діти цілеспрямовані, творчі, активні. Саме тому щороку близько 50 наших учнів стає призерами районних, понад 10 - призерами обласних олімпіад. Приємно зазначити, що наші учні здобувають перемоги на IV етапі Всеукраїнських олімпіад з математики, фізики, хімії, інформатики. Такі успіхи ліцеїстів — результат роботи творчого колективу викладачів. Педагогічний колектив ліцею сформований із досвідчених фахівців, які мають професійні звання.</p>
    <p>Сьогодні у ДНЛ№1 працюють 25 учителів вищої категорії, серед яких — відмінники освіти, учителі-методисти, старші вчителі, переможці районних, обласних конкурсів "Учитель року" з фізики, математики, хімії, біології, історії. Учителі-однодумці об'єднані спільною ідеєю педагогіки співробітництва. </p>
    <p>Педагогічний колектив Долинського наукового ліцею №1 налічує 32 учителів.</p>
    <p>Якісний склад учителів:</p>
    <ul>
        <li>Спеціаліст вищої категорії - 25</li>
        <li>Із них : 
            <ul>
                <li>Учитель-методист - 3</li>
                <li>Cтарший учитель - 17</li>
            </ul>
        </li>
        <li>Учителі :</li>
        <li>І категорії - 3</li>
        <li>ІІ категорії - 2</li>
        <li>Спеціаліст - 2</li>
    </ul>

    <p>Головне завдання педагогічного колективу ліцею — пошук обдарованих дітей, розвиток їхніх творчих здібностей, підготовка до майбутньої наукової роботи в галузях фізики, математики, інформатики, хімії та біології.</p>
    <h3>Головна мета педагогічного колективу ДНЛ1 : </h3>
    <ul>
        <li>створити умови для всебічного розвитку здібних дітей;</li>
        <li>розробити та вдосконалити навчальні програми, спрямовані на розвиток інтелектуальних, творчих навиків, умінь виконувати дослідницькі завдання;</li>
        <li>допомагати учням в особистому рості та розвитку;</li>
        <li>проводити активну роботу для популяризації знань серед школярів.</li>
    </ul>
    <p>Для цього було створено спеціальну, спрямовану на виявлення обдарованих, допитливих, нестандартно мислячих дітей систему відбору учнів, що в основному ґрунтується на вивченні й аналізі виступів учнів на районних, обласних предметних олімпіадах, а також участі в різних турнірах, конкурсах. Науково-методична рада координує напрям фахової, науково-методичної та дослідницької роботи МО ліцею, гуртків, спортивних секцій.</p>
    <h3>Критерії, що визначають рівень досягнень учнів:</h3>
    <ul>
        <li>педагогічний склад та педагогічна майстерність учителів;</li>
        <li>спільна діяльність у досягненні високих результатів;</li>
        <li>заохочення учнів через змагання;</li>
        <li>повага до учнів і акцент на їхньому особистому розвитку.</li>
    </ul>


    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">Прізвище, ім’я</th>
                <th scope="col">Категорія</th>
                
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>     
                <td>{{teacher.second_name}} {{teacher.first_name}}</td>
                <td>{{teacher.category}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}