{% extends 'dnl1/wrapper.html' %}

{% block title %}
Їдальня
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
{% endblock %}

{% block content %}

{% include "dnl1/includes/page-title.html" with title='Їдальня' %}

<div class="container">
    <p>
        Відповідно до статей законів України «Про освіту», «Про охорону дитинства», «Про державну допомогу сімʼям з дітьми» в Долинському науковому закладі №1 організовано повноцінне, безпечне та якісне харчування школярів. Шкільна їдальня стала улюбленим місцем для учнів закладу. Їдальня розрахована на 50 посадочних місць. Гарячим безкоштовним харчуванням охоплені діти-сироти та діти з малозабезпечених сімей. У їдальні закладу виконуються всі санітарно – епідеміологічні вимоги щодо організації харчування учнів. 
        Медична сестра Іванів Ніна Богданівна систематично слідкує за якістю продуктів, дотриманням умов і термінів їх зберігання, технологією приготування і різноманітністю страв, санітарним станом приміщень.
        Робота їдальні постійно перевіряється адміністрацією ліцею та санітарно-епідеміологічною службою.
    </p>
    <p class="text-center font-weight-bold text-danger">Їдальня і буфет працюють з 09.00 до 15.00.</p>
    <p class="text-center font-weight-bold">Правила поведінки в їдальні:</p>
    <ul>
        <li>Під час обіду в їдальні належить дотримуватися хороших манер і поводитися пристойно.</li>
        <li>Учні повинні шанобливо ставитись до працівників їдальні.</li>
        <li>Учні приходять в їдальню після закінчення уроку у визначений час.</li>
        <li>Розмовляти під час обіду слід неголосно, щоб не турбувати тих, хто їсть поряд.</li>
        <li>Вживати їжу і напої, придбані тільки в їдальні.</li>
        <li>Учні прибирають стіл після вживання їжі.</li>
        <li>Учні дбайливо ставляться до майна шкільної їдальні.</li>
        <li>Учні мають право взяти в їдальню принесений з дому сніданок.</li>
        <li>Забороняється приходити в їдальню у верхньому одязі.</li>
        <li>Забороняється виносити їжу з їдальні.</li>
    </ul>
    <p class="text-center font-weight-bold">Про організацію харчування учнів Долинського наукового ліцею №1 в 2019-2020 н.р.</p>
    <p>1. Безкоштовне харчування учнів у закладі здійснюється тільки в робочі дні. У разі відсутності учнів під час навчання компенсація за харчування не проводиться.<br>
        2. Харчування дітей, які не підлягають безкоштовному харчуванню у закладі, здійснюється за батьківські кошти готівкою.<br>
        3. Наказом керівника закладу Макосія Віктора Богдановича призначено Хайнус Майю Петрівну, відповідальну за організацію харчування учнів. До її обов’язків належать:<br>
    </p>
    <ul>
        <li>координація діяльності за роботою медичного персоналу щодо контролю за харчуванням дітей;</li>
        <li>відпрацювання режиму та графіка харчування дітей, режиму чергування вчителів у обідній залі шкільної їдальні;</li>
        <li>опрацювання інформації щодо кількості дітей, які потребують гарячого харчування, зокрема, дітей пільгових категорій;</li>
        <li>контроль за додержанням дітьми правил особистої гігієни та вживанням готових страв, буфетної продукції;</li>
        <li>контроль за санітарно-гігієнічним станом обідньої зали шкільної їдальні;</li>
        <li>особистий контроль за виконанням норм харчування, затверджених постановою Кабінету Міністрів України від 22.11.2004 №1591 «Про затвердження норм харчування у навчальних та оздоровчих закладах».</li>
    </ul>
    <p>4. Облік дітей, охоплених безкоштовним харчуванням, здійснюється класними керівниками, які вчасно повідомляють про наявність учнів особу, відповідальну за організацію харчування.</p>
    <div class="row">
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/2.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/2.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/1.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/1.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/6.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/6.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/3.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/3.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/4.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/4.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/5.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/5.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/7.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/7.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/8.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/8.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/dining/9.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/dining/9.jpg' %}"></a></div>
    </div>
    
</div>

{% endblock %}


{% block jsfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
{% endblock %}