{% extends 'dnl1/wrapper.html' %}

{% block title %}
Виховна система класу
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
{% load static  %}

{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Виховна система класу' %} <!-- title here instead of ДНЛ -->

<div class="container">
    <p>Виховна система класу - це комплекс взаємодіючих компонентів, взаємозв'язок та інтеграція яких обумовлює формування сприятливих умов для життєдіяльності і розвитку членів класного співтовариства. </p>
    <p>Виховна система класу як складне соціально - педагогічне явище складається з великої кількості компонентів. Напевно, таких складових кілька десятків, а можливо і більше. Все залежить від ступеня деталізації аналізу, в процесі якого ціле подумки ділиться на частини. Важливо визначити, які компоненти системного утворення є основними.
Важливо визначити, які компоненти є складовими системи. У науково-методичній літературі виділяють 5 найбільш істотних і важливих:</p>
<ul>
    <li>Індивідуально-групової</li>
    <li>Ціннісно-орієнтаційний</li>
    <li>Функціонально-діяльнісний</li>
    <li>Просторово-часової</li>
    <li>Діагностично-аналітичний</li>
</ul>
<p>Моделюючи виховну систему класу, класний керівник повинен знати: </p>
<ul>
    <li>з ким він працює,</li>
    <li>що хоче отримати від своєї роботи,</li>
    <li>скільки часу займе у нього досягнення поставлених завдань</li>
    <li>в якому життєвому просторі він буде працювати,</li>
    <li>вчасно скоригувати свою діяльність і грамотно оцінити результати своєї роботи.</li>
</ul>
<p>Отже, перейдемо до моделювання окремих елементів виховної системи класу.</p>

<h4>Перший компонент виховної системи класу -індивідуально-груповий компонент</h4>
<p>У створенні, управлінні і розвитку виховної системи класу беруть участь:</p>
<ul>
    <li>Класний керівник</li>
    <li>Учні класу</li>
    <li>Батьки учнів</li>
    <li>Педагоги та інші дорослі, які беруть участь у виховному процесі і життєдіяльності колективу.</li>
</ul>
	
<p>Головна роль відводиться класному керівнику. Його життєві цінності, педагогічні погляди, позиції,
інтереси та інтереси є одним із основних системоутворюючих факторів.</p>
<p>Але, ще Макаренко говорив, що ні один вихователь не має права діяти поодинці, на свій власний страх і ризик і на свою відповідальність. Повинен бути колектив вихователів, і там, де вихователі не з'єднані в колектив і колектив не має єдиного плану роботи, єдиного тону, точного єдиного підходу до дитини, там не може бути ніякого виховного процесу.</p>
<h4>Другий компонент виховної системи класу ціннісно-орієнтаційний - Виховання без мети не буває, тому що характеристиками цього процесу є доцільність, цілеспрямованість.</h4>
<p>Пріоритетні завдання роботи:</p>
<ul>
    <li>Формування творчої особистості учнів, що володіє інтелектуальною, етичною культурою.</li>
    <li>Сприяти вихованню працьовитою і допитливої особистості дитини, яка знає історію і традиції
        свого краю і шанує людей, що живуть поруч;</li>
    <li>Створення умов для спілкування та спільної діяльності старшого покоління з молодшим, допомога
        навколишнім людям;</li>
    <li>Інтелектуальний розвиток школярів, організація їх пізнавальної діяльності, розвиток допитливості
        учнів;</li>
    <li>Згуртування класного колективу, задоволення дозвіллєвих потреб учнів;</li>
    <li>Вироблення готовності до самостійного життя і праці, підготовка до ініціативної діяльності в
        різних сферах;</li>
    <li>Розвиток навичок пошукового мислення;</li>
    <li>Формування екологічної культури;</li>
    <li>Виховання у дітей патріотичних почуттів громадянина;</li>
    <li>Зміцнення здоров'я учнів, фізичний розвиток і досконалість;</li>
    <li>Сприяти підвищенню ролі учнівського самоврядування у плануванні, організації, аналізі
        життєдіяльності у класі.</li>
</ul>
	
<p>На шляху до досягнення-цільових орієнтирів і перспектив відбуваються зміни в життєдіяльності класного співтовариства, побудові виховного процесу. Постійно з'являються норми і правила, які прийнято дотримуватися в цій спільноті і дітьми, і дорослими. Вони не тільки регламентують поведінку, діяльність, спілкування членів класного колективу, але і помітно впливають на вибір способів організації виховного процесу. Ці норми і правила, що відображають ціннісні орієнтації класного колективу, визначають і принципи побудови виховної системи класу.</p>
<h4>Третій компонент виховної системи класу - функціонально-діяльнісний компонент.</h4>
<p>Він складається з таких елементів, як:</p>
<ul>
    <li>форми, методи, прийоми організації спільної діяльності і спілкування; основні функції виховної системи класу;</li>
    <li>педагогічне забезпечення і самоврядування життєдіяльністю класу.</li>
</ul>
<p>Цей компонент виконує роль головного системоутворюючого фактору, що забезпечує упорядкованість і цілісність виховної системи, функціонування і розвиток її основних елементів і зв'язків. Основу даного компонента складають спільна діяльність і спілкування членів даного колективу.</p>
<h4>Четвертий компонент - просторово-часовий</h4>
<p>Він складається з таких елементів:</p>
<ul>
    <li>Емоційно-психологічна, духовно-моральна і предметно-матеріальне середовище. Зв'язки і відносини класу з іншими спільнотами дітей і дорослих, місце і роль класу у виховному просторі ЗНЗ.</li>
    <li>Етапи становлення і розвитку виховного середовища:</li>
</ul>
<h5>1. Проектування системи. (5 клас)</h5>
<p>Переважає діяльність з вивчення інтересів, потреб та інших особистісних характеристик членів класу, проектування бажаного образу класу, визначенню перспектив життєдіяльності колективу. </p>
<h5>2.Становлення системи. (6-7 клас)</h5>
<p>Приділяється увага зміцненню міжособистісних відносин, формування почуття "ми", апробування форм і способів спільної діяльності, зрощувати традицій колективу. </p>
<h5>З.Стабільне функціонування системи. (8-9 клас)</h5>
<p>Активно розвивається самоврядування, система починає відповідати проектному задуму її творців, домінуючий вид спільної діяльності формує індивідуальність ("обличчя") класного колективу, життя класного колективу будується на основі традицій, зберігаються і підтримуються більшістю в колективі. </p>
<h5>4. Завершення функціонування системи. (10-11 клас)</h5>
<p>Для четвертого етапу характерні дві тенденції:</p>
<ul>
    <li>постаратися зробити так, щоб найкраще в житті класу стало надбанням усього шкільного колективу;</li>
    <li>шукати нові ідеї, форми, способи оновлення життєдіяльності у класі.</li>
</ul>
<h4>П'ятий компонент - діагностико-аналітичний </h4>
<p>Включає в себе наступні елементи:</p>
<ul>
    <li>Критерії ефективності виховної системи.</li>
    <li>Методи і прийоми вивчення результативності виховної системи.</li>
</ul>
<p>Необхідність включення діагностично-аналітичного компоненту в перелік основних компонентів системи можна пояснити тим, що за відсутності достовірної, підданої ретельному аналізу інформації про розвиток особистості дитини і формування класного колективу ставиться під сумнів педагогічна доцільність всієї складної і трудомісткої діяльності, що проводиться з моделювання та побудови виховної системи класу.</p>
<p>Загальноприйнятої точки зору з приводу критеріїв і методів вивчення результативності виховної системи класу. На наш погляд (3), критерієм ефективності функціонування класної виховної системи можуть бути визнані наступні показники:</p>
<ul>
    <li>Вихованість учнів;</li>
    <li>Захищеність і комфортність дитини в класі;</li>
    <li>Задоволеність учнів і їх батьків життєдіяльністю в класі;</li>
    <li>Сформованість класного колективу;</li>
    <li>Репутація класу;</li>
    <li>Прояв індивідуальності («особи») класної спільності.</li>
</ul>
<p>Відповідно до даних критеріями підбираються методи і прийоми вивчення результативності виховного процесу.</p>
<p>Таким чином, названі і охарактеризовані основні компоненти виховної системи класу, наявність у класного наставника уявлень про сутність і будову виховної системи, дозволяє йому більш усвідомлена і впевнено приступити до діяльності з моделювання та побудови системи виховання учнів у класному колективі.   </p>

<h5>Розробники : Лучейко С.Я., заступник директора, Лунченко В.В., педагог-організатор.</h5>

<div class="row">
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/1.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/1.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/2.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/2.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/3.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/3.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/4.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/4.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/5.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/5.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/6.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/6.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/7.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/7.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/8.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/8.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/9.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/9.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/10.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/10.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/11.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/11.jpeg' %}"></a></div>
    <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/ed_sys/12.jpeg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/ed_sys/12.jpeg' %}"></a></div>
</div>

</div>

{% endblock %}


{% block jsfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
{% endblock %}