{% extends 'dnl1/wrapper.html' %}

{% block title %}
Заходи
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Заходи' %} <!-- title here instead of ДНЛ -->


<div class="container">
    <h3>СІЧЕНЬ</h3>
    <p>1.01. Новорічне  свято, День народження Степана Бандери.
    <p>6.01. Святвечір. Багата кутя.</p>
    <p>7.01. Різдво Христове</p>
    <p>14.01. Новий рік за старим стилем.</p>
    <p>15.01.1992р. ВР України затвердила Державний гімн України</p>
    <p>18.01. Святвечір. Голодна кутя.</p>
    <p>19.01. Богоявлення Господнє. Водохреща.</p>
    <p>22.01. День Соборної України.</p>
    <p>27.01. Міжнародний день пам’яті жертв Голокосту</p>
    <p>28.01.1992р. ВР України затвердила  Державний Прапор України.</p>
    <p>29.01. День пам'яті Героїв Крут.</p>

    <h3>ЛЮТИЙ</h3>
    <p>14.02. День  Валентина</p>
    <p>15.02. Стрітення Господня. День вшанування учасників бойових дій на території інших держав.</p>
    <p>19.02.1992р. ВР України  затвердила Малий Герб України -  тризуб.</p>
    <p>21.02. Міжнародний День рідної мови.</p>

    <h3>БЕРЕЗЕНЬ</h3>
    <p>7.03. «Весна не забула про Вас..» привітання</p>
    <p>8.03. Свято весни «8 березня».</p>          
    <p>9-10.03 День народження Тараса Шевченка . Шевченківські дні</p>
    <p>21.03 Всесвітній день поезії</p>
    <p>27.03 Міжнародний день театру.</p>
    <p>27.03 День книги, Участь в огляді-конкурсі художньої самодіяльності «Подаруй людям радість»</p>

    <h3>КВІТЕНЬ</h3>
    <p>1.04 День Сміху</p>
    <p>7.04 Благовіщення Пресвятої Богородиці, Всесвітній День здоров'я</p>
    <p>09.02 День народження Тараса Шевченка</p>
    <p>12.04 Всесвітній День авіації і космонавтики</p>
    <p>18.04 День пам'яток історії та культури України</p>
    <p>19.04 Пасха.  Конкурс «Великоднє диво»</p>
    <p>21.04 Всесвітній День довкілля.</p>
    <p>22.04 Всесвітній День Землі.</p>
    <p>26.04 День Чорнобильської  трагедії. Вахта пам'яті.</p>

    <h3>Травень</h3>
    <p>1-2.05 Дні міжнародної солідарності трудящих</p>
    <p>8.05 День Червоного Хреста</p>
    <p>8-9.05 Дні пам'яті та примирення , присвячені пам'яті жертв Другої світової війни</p>
    <p>9.05 День Перемоги</p>
    <p>13.05 День Матері</p>
    <p>15.04 Міжнародний День сім'ї, родини</p>
    <p>19.05 День науки</p>
    <p>21.05 День української вишиванки</p>
    <p>22.05 День перепоховання Т.Г.Шевченко на Чернечій горі поблизу Канева.</p>
    <p>24.05 День  слов'янської писемності і культури.</p>
    <p>25.05 Останній дзвоник. «До побачення,  ліцей !»</p>
    <p>25.06 «Кораблик дитинства мого, відлітай» випускний вечір</p>


</div>

{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}