{% extends 'dnl1/wrapper.html' %}

{% block title %}
Долинський ліцей №1
{% endblock %}

{% block metatags %}
<meta name="description" content="Долинський ліцей № 1 — найстаріший середній навчальний заклад у м. Долина Івано-Франківської області, створений у 19 ст., для учнів 5-11 класів. Одна з найкращих шкіл району за результатами ЗНО, значною кількістю призерів шкільних олімпіад на різних етапах.">
<meta name="keywords" content="ДНЛ,ДНЛ1,Ліцей,Школа,Долина">
<meta name="author" content="Vasyl Shtenovych">
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static '/dnl1/css/index.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="owl-one owl-carousel loop owl-theme" id="welcome-slider">
    <div class="item">
        <div class="overlay">
            <img class="d-block w-100" src="{% static 'dnl1/images/slider/school.jpg' %}" alt="Second slide">
        </div>
        <div class="header-text row justify-content-center">
            <div class="col-md-9">
                <div class="center">
                    <h1>Долинський ліцей #1</h1>
                    <h3>Освіта - найвеличніше з усіх земних благ, але тільки тоді, коли вона найвищої якості. Інакше вона абсолютно даремна.  © Редьярд Кіплінг</h3>
                    <a class="btn" id="about-us-button" href="/about-us" role="button">Про нас</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="overlay">
            <img class="d-block w-100" src="{% static 'dnl1/images/slider/teachers.jpg' %}" alt="Second slide">
        </div>
        <div class="header-text row justify-content-center">
            <div class="col-md-9">
                <div class="center">
                    <h1>Долинський ліцей #1</h1>
                    <h3>Бачити в кожній дитині особистість, творчу, обдаровану, цікаву – першорядне завдання Долинського наукового ліцею №1</h3>
                    <a class="btn" id="about-us-button" href="/about-us" role="button">Про нас</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="overlay">
            <img class="d-block w-100" src="{% static 'dnl1/images/slider/stadium.jpg' %}" alt="Second slide">
        </div>
        <div class="header-text row justify-content-center">
            <div class="col-md-9">
               <div class="center">
                    <h1>Долинський ліцей #1</h1>
                    <h3>Бачити в кожній дитині особистість, творчу, обдаровану, цікаву – першорядне завдання Долинського наукового ліцею №1</h3>
                    <a class="btn" id="about-us-button" href="/about-us" role="button">Про нас</a>
               </div>
            </div>
        </div>
    </div>
</div>



<section id="important-links" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-3 col-6">
                <div class="center">
                    <a href="/schedule">
                        <img class="implnk-icon" src="{% static 'dnl1/images/important_links/image1.jpg' %}">
                        <div class="important-links_title">Розклад</div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-6">
                <div class="center">
                    <a href="/methodical-work">
                        <img class="implnk-icon" src="{% static 'dnl1/images/important_links/images_1.jpg' %}">
                        <div class="important-links_title">Методична робота</div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-6">
                <div class="center">
                    <a href="/educational-activities">
                        <img class="implnk-icon" src="{% static 'dnl1/images/important_links/images_2.png' %}">
                        <div class="important-links_title">Виховна робота</div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-6">
                <div class="center">
                    <a href="/achievements">
                        <img class="implnk-icon" src="{% static 'dnl1/images/important_links/images_4.jpg' %}">
                        <div class="important-links_title">Наші досягнення</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


    
<!-- News -->
<section id="news-section" data-aos="zoom-in">
    {% include "dnl1/includes/page-title.html" with title='Новини' %}

    <div class="container">
        <div class="owl-two owl-carousel loop owl-theme" id="news-carousel">
    
            {% for post in object_list %}
                <div class="item">
                        <div class="center"><a href="/news/{{post.id}}">
                        
                            <img class="d-block img-fluid" src="{{post.image_thumbnail.url}}">  
                        </a></div>
                        <div class="date">{{post.date|date:"d-m-Y"}}</div>
                        <a href="/news/{{post.id}}">
                            <div class="news-title">{{post.title}}</div>
                            <div class="news-details">{{post.short_description}} </div>
                        </a>
                </div>
            {% endfor %}
            
        </div>
    </div>
    
    
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-auto col-12">
                <a href="/news" class="all-news-link">Всі новини</a>
            </div>
        </div>
    </div>
</section>



<section id="cards-section" data-aos="fade-right" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card" >
                    <img src="{% static 'dnl1/images/cards/info_for_pupils1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Інформація для учнів</h5>
                        <ul class="p-0 list-unstyled">
                            <li><a href="/year-structure">Структура навчального року</a></li>
                            <li><a href="/distance_learning">Дистанційне навчання</a></li>
                            <li><a href="/rings-schedule">Режим і розклад дзвінків</a></li>
                            <li><a href="/library">Бібліотека</a></li>
                            <li><a href="/questionnaire_pupils">Пізнай себе</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card" >
                    <img src="{% static 'dnl1/images/cards/info_for_graduants1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Інформація для випускників</h5>
                      <ul class="p-0 list-unstyled">
                          <li><a href="/zno">ЗНО</a></li>
                          <li><a href="https://osvita.ua/school/69074/" target="_blank">ДПА</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card" >
                    <img src="{% static 'dnl1/images/cards/info_for_parents1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Інформація для батьків</h5>
                      <ul class="p-0 list-unstyled">
                            <li><a href="/questionnaire_parents">Анкетування</a></li>
                            <li><a href="/dining">Харчування</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block jsfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="{% static 'dnl1/js/index.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
{% endblock %}