{% extends 'dnl1/wrapper.html' %}

{% block title %}
Медична служба
{% endblock %}

{% block cssfiles %}
{% load static  %}
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Медична служба' %}
<div class="container">
    <figure class="float-right ml-3 mb-3">
        <p><img src="{% static 'dnl1/images/services/ivaniv_n_b.jpg' %}" alt="Іванів Н.Б." class="mw-100" height="500px"></p>
        <figcaption>Іванів Ніна Богданівна</figcaption>
    </figure>
    <h4>Іванів Ніна Богданівна</h4>

    <p>Головними напрямками діяльності сестри медичної ЗЗСО є : </p>
    <ul>
        <li>Здійснення заходів з охорони здоров'я учнів та працівників закладу освіти. </li>
        <li>Дотримання санітарно-гігієнічних вимог у закладі освіти. </li>
        <li>Організація санітарно-просвітницької роботи та участь у ній. </li>
        <li>Здійснення нагляду за якістю харчування учнів та санітарно-гігієнічним станом їдальні. </li>
        <li>Проведення просвітницької роботи щодо здорового способу життя, дотриманням санітарно-гігієнічних норм особистого життя та праці. </li>
        <li>Проведення всіх заходів по підготовці до вакцинації </li>
    </ul>

    <p>Сестра медична школи зобов'язана : </p>
    <ul>
        <li>Надавати долікарську медичну допомогу дітям .</li>
        <li>Здійснювати контроль за:<ul>
            <li>Якістю та організацією харчування учнів. </li>
            <li>Санітарно-гігієнічним станом класів, місць загального користування, освітленням, тепловим режимом, розташуванням парт, провітрюванням. </li>
            <li>Проведенням уроків фізичного виховання (навантаження, розподіл учнів на групи). </li>
            <li>Своєчасним проходженням персоналом школи обов'язкових медичних оглядів. </li>
            <li>Вести затверджену Міністерством охорони здоров’я медичну документацію. </li>
            <li>Організовувати та проводити просвітницьку роботу щодо здорового способу життя, планування сім'ї тощо, залучаючи до цієї роботи педколектив , актив з числа батьків та дітей. </li>
            <li>Вести облік медичного інвентарю, лікарських засобів, слідкувати за своєчасним їх поповненням. </li>
            <li>Супроводжувати дітей, у необхідних випадках, у медичний заклад. </li>
            <li>Виконувати правила внутрішнього розпорядку, дотримуватись принципів медичної етики, зберігати медичну таємницю. </li>
            <li> Шкірними покривами учнів на педикульоз та скабіес.та іншими інфекційними хворобами </li>
        </ul></li>
    </ul>

</div>

{% endblock %}


{% block jsfiles %}
{% endblock %}