{% extends 'dnl1/wrapper.html' %}

{% block title %}
Психологічна служба
{% endblock %}

{% block cssfiles %}
{% load static  %}
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Психологічна служба' %}
<div class="container">
    <figure class="float-right ml-3 mb-3">
        <p><img src="{% static 'dnl1/images/services/haynus_m_p.jpg' %}" alt="Хайнус М.П." class="mw-100" width="500px"></p>
        <figcaption>Хайнус М.П. - практичний психолог</figcaption>
    </figure>
    <h4>Хайнус Майя Петрівна</h4>

    <p>Посада: практичний психолог</p>
    <p>Освіта: вища, Прикарпатський університет ім. В.Стефаника, 1997 р.</p>
    <p>Спеціальність: психологія, практична  психологія в закладах освіти</p>
    <p>Педагогічний стаж: 34 роки</p>
    <p>Стаж роботи на посаді: 22 роки</p>
    <p>Категорія: вища  кваліфікаційна</p>
    <p>МОЄ ТВОРЧЕ КРЕДО: любити, розуміти, допомогати.</p>
   
    
    <p>Основна мета   роботи: підвищення ефективності навчально-виховного процесу через формування  психологічної культури учнів, педагогів, батьків та збереження цінності психічного та фізичного здоров'я учнів. Створення оптимальних соціально-психологічних умов для розвитку інноваційної особистості.</p>
    <p>Проблемне питання: адаптація п’ятикласників до нових умов навчання</p>
    
    <h4>Основні види діяльності практичного психолога:</h4>
    <ul>
        <li>Психологічна просвіта як найперше прилучення педколективу, учнів і їхніх батьків до психологічних знань. Таку роботу психолог реалізує через проведення факультативних занять з учнями й виступи з доповідями на зборах педагогічного колективу, через читання тематичних лекцій у рамках батьківських зборів і конференцій.</li>
        <li>Психологічна профілактика, зміст якої полягає в постійній роботі психолога з метою подолання можливих негараздів у психічному й особистісному розвитку учнів. Важливого значення в цьому набуває профілактична робота, зорієнтована на запобігання розвиткові в учнів різних форм девіантної поведінки й наркозалежності. Серед шляхів роботи зі школярами тут особливо продуктивними є своєчасне виявляння осіб "зони ризику" й організація для них спеціальних занять із застосуванням активних методів соціально-психологічної підтримки.</li>
        <li>Психологічне консультування передбачає кваліфіковану допомогу психолога у розв'язанні тих проблем, з якими до нього самостійно або за порадою інших людей звертаються учні, викладачі та батьки. Психологічне консультування передбачає глибоке розуміння психологом суті проблеми, а також надання клієнтові конкретних рекомендацій щодо шляхів розв'язання її, прийнятних для нього.</li>
        <li>Психодіагностика як поглиблене проникнення психолога за допомогою спеціального методичного інструментарію у внутрішній світ дитини або дорослого клієнта. На основі одержаних результатів психодіагностичного обстеження робиться висновок про рівень готовності дитини до дальшого успішного навчання, про педагогічний потенціал учителів і батьків, здійснюється прогнозування ходу розвитку або корекції учнів, оцінюється ефективність профілактичної чи консультативної роботи з ними.</li>
        <li>Психокорекційна робота як усування відхилень у психічному (інтелектуальному й особистісному) розвитку учнів.</li>
        <li>Робота з розвитку здібностей дитини й формування її особистості.</li>
    </ul>

</div>

{% endblock %}


{% block jsfiles %}
{% endblock %}