{% extends 'dnl1/wrapper.html' %}

{% block title %}
Розклад
{% endblock %}

{% block cssfiles %}
{% load static  %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Розклад' %} 

<div class="container">
    <div class="row">
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/schedule/1.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/schedule/1.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/schedule/2.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/schedule/2.jpg' %}"></a></div>
        <div class="col-4"><a data-fancybox="gallery" href="{% static 'dnl1/images/schedule/3.jpg' %}"><img class="mw-100 mb-3" src="{% static 'dnl1/images/schedule/3.jpg' %}"></a></div>
    </div>
</div>
{% endblock %}


{% block jsfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
{% endblock %}