{% extends 'dnl1/wrapper.html' %}

{% block title %}
Соціальна служба
{% endblock %}

{% block cssfiles %}
{% load static  %}
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Соціальна служба' %}
<div class="container">
    <h4>Соціальний педагог стає тією необхідною ланкою, яка поєднує дитину і соціум, оскільки, в сферу професійних обов’язків спеціаліста входить робота з дітьми, підлітками, молоддю та їх батьками.</h4>
    
    <p>Соціальний педагог :</p>
    <figure class="float-right ml-3 mb-3">
        <p><img src="{% static 'dnl1/images/services/rizhkiv_t_s.jpg' %}" alt="" class="mw-100" height="500px"></p>
        <figcaption>Ріжків Т.С. - Соціальний педагог</figcaption>
    </figure>
    
    <p>- здійснює соціально-педагогічний супровід дітей-сиріт та дітей, позбавлених батьківського піклування, дітей з особливими освітніми потребами, дітей з багатодітних та малозабезпечених сімей з метою попередження безпритульності, бездоглядності та випадків усіх форм домашнього насильства над дітьми;</p>
    <p>- бере участь у виховній роботі з питань профілактики появи негативних форм поведінки у неповнолітніх (паління, алкоголізму, наркоманії; дитячої злочинності тощо), пропаганди здорового способу життя, статевого виховання </p>
    <p>- допомагає виявленню творчих нахилів, розкриттю здібностей дітей та підлітків,;</p>
    <p>- проводить просвітницьку роботу з батьками або особами, що їх замінюють (індивідуальні бесіди, виступи на батьківських зборах);</p>
    <p>- є посередником між школою, сім'єю, державними установами по захисту прав дітей та громадськістю; бере участь в організації їх взаємодії з метою створення умов для нормального розвитку дітей і підлітків.</p>

    <h4>Для батьків :</h3>
    <p>Соціальний педагог – це педагогічний працівник, основна мета роботи якого полягає у забезпеченні соціально-правового захисту учнів школи та попередженнї впливу негативних соціальних чинників на формування та розвиток особистості дитини. </p>

    <h4>Для учнів :</h3>
    <p>У яких випадках звертатися до соціального педагога?</p>
    <ul>
        <li>якщо у твоїй родині є проблеми, які Тебе постійно турбують, заважають нормально вчитися та відчувати себе щасливим;</li>
        <li>якщо хтось примушує Тебе до вчинків, що суперечать нормам моралі, пригнічують Твою гідність, а Ти не знаєш як себе поводити у такій ситуації;</li>
        <li>і просто коли Тобі здається, що всі інші відвернулися від Тебе і ніхто тебе вже не зрозуміє...</li>
    </ul>

    <p>Проблема над якою працюю:</p>
    <p>Виховання у школярів ціннісного відношення до себе та інших, розуміння сенсу людського існування.</p>

</div>

{% endblock %}


{% block jsfiles %}
{% endblock %}