{% extends 'dnl1/wrapper.html' %}

{% block title %}
Улюблені книги ДЛ1
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Улюблені книги ДЛ1' %} <!-- title here instead of ДНЛ -->

<div class="container">
    <p>Чим зайнятися влітку? Відпочивати! А ще – готуватися до нового навчального року. Не лякайтеся, це зовсім не означає, що вам необхідно знову зануритися у папери. Навпаки! Настав час відпочити та почитати цікаву книжку. А якщо вона буде ще й корисною – це взагалі ідеально. Ми знаємо, як буває непросто знайти дійсно хорошу літературу, яка ще б допомогла сягнути нових вершин. Саме тому ми дібрали для вас декілька чудових книжок для натхнення та цікавого відпочинку. Спробуйте! </p>
    <p>Огляд книжок, які подобаються вчителям Долинського ліцею №1)))</p>
    <p class="font-weight-bold">Хайнус М.П., учителька зарубіжної літератури </p>
    <p>Говорять, що книга- ліки для здоров'я. А недавно лікарі довели, що бібліотерапія- ще й потужна оздоровча процедура. "Лікувальну" книгу кожен підбирає для себе сам, головне, щоб вона була захоплюючою, приносила задоволення і не тільки...Для мене - це твори Світлани Талан, Люко Дашвар...</p>


    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/1.jpg' %}">
    <img height="400" class="mw-100" src="{% static 'dnl1/images/books/2.jpg' %}"></p>


    <p class="font-weight-bold">Бакаляр Н.І. , учителька хімії</p>
    <p>Мабуть, дійсно КАРАНТИН змусив потіснити хімічні формули у моїй свідомості на користь літературного слова.</p>


    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/3.jpg' %}"></p>


    <p class="font-weight-bold">Пеляк Н.Ю. , учителька фізичної культури</p>
    <p>Раджу прочитати цю захоплюючу книгу, в якій розповідається про людські цінності та біди які треба долати!</p>

    
    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/4.jpg' %}"></p>
    


    <p class="font-weight-bold">Андрейків Н.В. , учителька української мови та літератури</p>
    <p>Література-це мистецтво слова. Воно манить у світ прекрасного. Нанизуються ніжно намистинки у віночок. Яскраво мерехтить він барвами поетичної лірики та прози.Поет словом як смичком творить нову мелодію. Вона щоразу бринить, коли гортаєш сторінки книги і вслухаєшся в поетику мистецтва .</p>

    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/5.jpg' %}"></p>




    <p class="font-weight-bold">Занкович М.М., учитель фізики</p>
    <p>Актуальна книга не тільки сьогодні... Погляд на відносини між "братськими" народами людини зі сторони.</p>


    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/6.jpg' %}"></p>






    <p class="font-weight-bold">Зубрицька Л.Т., учителька математики</p>
    <p>Коли маєш справу з формулами і мудрими задачами,пару сторінок легкого роману перед сном обов'язково</p>


    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/7.jpg' %}">
    <img height="400" class="mw-100" src="{% static 'dnl1/images/books/8.jpg' %}"></p>







    <p class="font-weight-bold">Гринечко О.С., учителька української мови та літератури</p>
    <p>Ці книги - про "українського Сократа", "новітнього Сковороду", карпатського мудреця Андрія Ворона.</p>
    <p>Це- сповідь великої душі, подарунок долі для тих, хто запитує себе:"Хто я, звідки я, для чого я? І куди я йду?"</p>
    <p>Дякую, Лариса Штеньович , Мар'яна Хорощак, за те, що повернули знову до мудрості столітнього мудреця. Я впевнена: в які б тунелі нас не закинуло життя - попереду є світло, воно у кожного в серці❤</p>



    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/9.jpg' %}"></p>







    <p class="font-weight-bold">Марчак М.М., учителька української мови та літератури</p>
    <p>Щоразу перечитую, наче вперше, ці невеличкі історії про далеку дорогу й затишний дім, чужі міста й близьких людей, солодкий шоколад і терпкувато-гірку каву. Запрошую й Вас зазирнути на ці сторінки)))</p>

    <p><img height="400" class="mw-100" src="{% static 'dnl1/images/books/10.jpg' %}"></p>
</div>


{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}