{% extends 'dnl1/wrapper.html' %}

{% block title %}
Про структуру 2020-2021 навчального року
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Структура 2020-21 н.р.' %} <!-- title here instead of ДНЛ -->

<div class="container">
    <p>Про структуру 2020-2021 навчального року</p>
    <p>Враховуючи вимоги Закону України «Про освіту», який регламентує освітній процес (тривалість навчального тижня, відпочинку між ними, форми організації освітнього процесу, навчальне навантаження, тривалість канікул), пропонуємо таку структуру навчального року:</p>   
    <br>
    <p>Тривалість 2020-2021 навчального року:</p>
    <p>01.09.2020 р. – 28.05.2021р.</p>
    <br> 
    <p>І семестр – 01.09.2020р. – 31.12.2020р.;</p>
    <p>ІІ семестр – 20.01.2021р. – 28.05.2021р.</p>
    <br>
    <p>Канікули: </p>
    <p>осінні – 26.10.2020р. – 01.11.2020р.; </p>
    <p>зимові – 01.01.2021р. – 19.01.2021р.; </p>
    <p>весняні – 22.03.2021р. – 28.03.2021р.</p>
    <br>

    <img src="{% static 'dnl1/images/year_structure2020-21.jpg' %}" class="mw-100">
</div>
{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}