{% extends 'dnl1/wrapper.html' %}

{% block title %}
ЗНО
{% endblock %}

{% block cssfiles %}
{% load static  %}
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='ЗНО' %} 

<style>
    .img-text{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        -webkit-text-stroke: 1px black;
        cursor: pointer;
    }
    .zno-col{
    overflow: hidden;
        width: 100%;
    }
    .zno-img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 100%;
    cursor: pointer; 
  transition: transform .5s ease;
    }
    .zno-col:hover .zno-img{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 zno-col">
            <div class="zno-col">
                <a href="http://testportal.gov.ua/" target="_blank">
                    <img class="zno-img" src="{% static 'dnl1/images/zno/students.jpg' %}" alt="">
                    <div class="img-text">Сайт УЦОЯО</div>
                </a>
            </div>
        </div>
        <div class="col-4 zno-col">
            <div class="zno-col">
                <a href="https://osvita.ua/test/advice/12290/" target="_blank">
                    <img class="zno-img" src="{% static 'dnl1/images/zno/calendar.jpg' %}" alt="">
                    <div class="img-text">Графік ЗНО 2020</div>
                </a>
            </div>
        </div>
        <div class="col-4 zno-col">
            <div class="zno-col">
                <a href="https://zno.osvita.ua/" target="_blank">
                    <img class="zno-img" src="{% static 'dnl1/images/zno/online-zno.jpg' %}" alt="">
                    <div class="img-text">Онлайн ЗНО</div>
                </a>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}

{% block jsfiles %}
{% endblock %}