{% if less %}

{% if schedule_type == "teachers_schedule" %}
    <td colspan="{{ colspan }}">
        <div class="font-weight-bold"> {{ less.class_consisting }} - {{ less }}</div>
    </td>
    {% else %}
    <td colspan="{{ colspan }}">
        <div class="font-weight-bold"> {{ less }}</div>
        <div class="font-italic">{{ less.lesson_teacher.second_name }} {{ less.lesson_teacher.first_name }} {{ less.lesson_teacher.fathers_name }}</div>
    </td>
{% endif %}

{% else %}
<td colspan="{{ colspan }}"></td>
{% endif %}